body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#banner{
	background-image: url("../images/carpeAlt.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	height: 670px;
}
#bio{
	height: 600px;

}
.bioPicContainer{
/*	background-color: blue;*/
	height: 600px;
}
#bioPic{
	padding-top: 67px;
/*	padding-bottom: 20px;*/
}

#bioArea{
/*	background-color: yellow;*/
	height: 100%;

}
.shortBio{
	height: 400px;
    width: 50%;
    padding-top:18%;

}

#hustles{
	height: auto;
	padding-top: 50px;
	padding-bottom: 50px;
/*	background-color: red;*/
}

#contact{
/*	background-color: green;*/
	height: 300px;
}

