body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#banner{
	background-image: url("../images/carpe.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	height: 500px;
}
#bio{
	position:absolute;
}
.bioPicContainer{
	background-color: blue;
}
#bioPic{
	padding-top: 20px;
	padding-bottom: 20px;
}

#bioArea{
	background-color: yellow;
	height: 100%;

}
.shortBio{
	height: 100%;
    width: 50%;

}

