<!doctype html>
<html class="no-js" lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>ImJessW</title>
		<link rel="stylesheet" href="../public/stylesheets/foundation.css">
		<link rel="stylesheet" href="../public/stylesheets/app.css">
		<link rel="stylesheet" href="../public/stylesheets/style.css">
	</head>

	<body>

		<ul class="menu align-right">
			<li><a href="#">One</a></li>
			<li><a href="#">Two</a></li>
			<li><a href="#">Three</a></li>
			<li><a href="#">Four</a></li>
		</ul>

		<div id="banner" class="expanded row">	
		</div>

		<div id="bio" class=" expanded row">
			<div class="small-4 columns bioPicContainer">
				<img id="bioPic" src="../public/images/profileImage.jpg">
			</div>
			<div id="bioArea" class="small-8 columns">
				<p class="shortBio small-centered">We expect that our tap water is clean citizens united than any major developed country on earth. than any major developed country on earth. people when it comes to the rights of women, we cannot go backwards. We have got to go forward. enough with the damn emails</p>
			</div>
		</div>
		<!-- Hustle section -->
		<div id="hustles" class=" expanded row">
			<h1>Hustles</h1>
			<div class="small-4 columns">
				<img class="thumbnail" src="../public/images/london.jpg" alt="Product Management">
				<p>Product Management</p>
			</div>
			<div class="small-4 columns">
				<img class="thumbnail" src="../public/images/london.jpg" alt="HelloDevs">
				<p>HelloDevs</p>
			</div>
			<div class="small-4 columns">
				<img class="thumbnail" src="../public/images/london.jpg" alt="Photography">
				<p>Photography</p>
			</div>
			<div class="small-4 columns">
				<img class="thumbnail" src="../public/images/london.jpg" alt="Coding.">
				<p>Coding</p>
			</div>
			
			<div class="small-4 columns">
				<img class="thumbnail" src="../public/images/london.jpg" alt="Volunteer">
				<p>Volunteering</p>
			</div>
			
			<div class="small-4 columns">
				<img class="thumbnail" src="../public/images/london.jpg" alt="Mentorship">
				<p>Mentorship</p>
			</div>
	
		</div>


		<!-- People who are killing it section -->
		<div>
			<button class="button" type="button" data-toggle="example-dropdown">Toggle Dropdown</button>
			<div class="dropdown-pane" id="example-dropdown" data-dropdown>
			  <p>We expect that our tap water is clean citizens united than any major developed country on earth. than any major developed country on earth. people when it comes to the rights of women, we cannot go backwards. We have got to go forward. enough with the damn emails</p>
			</div>
			
		</div>

		<!-- footer/ connect/ resume download -->
		<div id="contact">
			<h1>Let's connect.</h1>
			<ul>
				<li><a href="#">Twitter</a></li>
				<li><a href="#">Medium</a></li>
				<li><a href="#">Instagram</a></li>
				<li><a href="mailto:Imjessw@gmail.com?Subject=Hello%20again" target="_top">Email</a></li>
				<!-- <li></li>
				<li></li>
				<li></li> -->
			</ul>
			
		</div>

		<script src="../public/javascripts/vendor/jquery.js"></script>
		<script src="../public/javascripts/vendor/what-input.js"></script>
		<script src="../public/javascripts/vendor/foundation.js"></script>
		<script src="../public/javascripts/app.js"></script>
	</body>

</html>