<!doctype html>
<html class="no-js" lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="ImJessW">
		<meta name="keywords" content="Imjessw,product manager,code,developer, photography">
		<meta name="author" content="Jess Waite">
		<title>ImJessW</title>
		<link rel="stylesheet" href="../public/stylesheets/foundation.css">
		<link rel="stylesheet" href="../public/stylesheets/app.css">
		<link rel="stylesheet" href="../public/stylesheets/style.css">
	</head>

	<body>
<!-- 
		<ul class="menu  align-right">
			<li><a href="#">Home</a></li>
			<li><a href="#">Hustles</a></li>
			<li><a href="#">Find Me</a></li>
		</ul>

		<div id="banner" class="expanded row">	
		</div> -->





		<!-- Hustle section -->
<!-- 		<div id="hustle" class=" expanded row"> -->
<!-- 			<h1>Hustles</h1> -->
<!-- 			<div id="pm" class="large-4 small-4 columns">
				<img class="thumbnail" src="../public/images/london.jpg" alt="Product Management">
				<p>Product Management</p>
			</div>
			<div id="hd" class="large-4 small-4 columns">
				<img class="thumbnail" src="../public/images/london.jpg" alt="HelloDevs">
				<p>HelloDevs</p>
			</div>
			<div id="photo" class="large-4 small-4 columns">
				<img class="thumbnail" src="../public/images/london.jpg" alt="Photography">
				<p>Photography</p>
			</div>
		</div>
		<div id="hustles" class=" expanded row">
			<div id="code" class="large-4 small-4 columns">
				<img class="thumbnail" src="../public/images/london.jpg" alt="Coding.">
				<p>Coding</p>
			</div>
			
			<div id="teach" class="large-4 small-4 columns">
				<img class="thumbnail" src="../public/images/london.jpg" alt="Volunteer">
				<p>Teaching & Volunteering</p>
			</div>
			
			<div id="mentor" class="large-4 small-4 columns">
				<img class="thumbnail" src="../public/images/london.jpg" alt="Mentorship">
				<p>Mentorship</p>
			</div>
	
		</div> -->



		<!-- footer/ connect/ resume download -->
		<div id="bio" class=" expanded row">
			<div class="large-4 medium-6 small-8 columns bioPicContainer">
				<img id="bioPic" class="centered" src="../public/images/jessFace.png">
			</div>
			<div id="bioArea" class="large-8 small-12 columns">
				<!-- <p class="shortBio small-centered">Hi!</p> -->
				<p class="shortBio large-centered small-centered">Hi!<br> 

				I am Jessica Waite. I am currently working in New York City as a Technical Product Manager for TownSquare Media. I am responsible for building all internal tooling for the company. <br>

				I created  a program shortly after dev boot camp, called HelloDevs, which brings together Jr Developers and helps them career roadmap, further their network and encourages them to teach others what they know. <br>

				In my free time I teach code through various programs throughout the city. I also spend considerable time working with entrepreneurs building companies that give back to the community. 
				</p>
			</div>

		</div>
		<div class="text-center">
			<ul id="contactInfo" >
				<li class="contact"><a href="https://www.twitter.com/imjessw">Twitter |</a></li>
				<li class="contact"><a href="https://medium.com/@ImJessW">Medium |</a></li>
				<li class="contact"><a href="https://www.instagram.com/wanderwithJess">Instagram |</a></li>
				<li class="contact"><a href="mailto:Imjessw@gmail.com?Subject=Hello%20again" target="_top">Email |</a></li>
				<li class="contact"><a href="https://www.linkedin.com/in/jessicalwaite">Linkedin |</a></li>
				<li class="contact"><a href="https://angel.co/imjessw">AngelList</a></li>	
			</ul>

		</div>

		<script src="../public/javascripts/vendor/jquery.js"></script>
		<script src="../public/javascripts/vendor/what-input.js"></script>
		<script src="../public/javascripts/vendor/foundation.js"></script>
		<script src="../public/javascripts/app.js"></script>
	</body>

</html>